<!DOCTYPE html>
<html>

<style>
body{
    font-family: 'Open sans';
    height: 100%;
    
}

.nav-container{
    background-color:rgb(223, 14, 14);
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;

}

.item{
    flex-grow: ;
    padding: 1rem;
    
}

.about{
    justify-self: self-start;
    
}

.gmail{
    justify-self: self-end;
}

profile{
    grid-area: profile;
}

footer{
   
    flex: 0 1 300px;
    font-size: 14px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    bottom: 0;
    position: absolute;
    height: 35px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: -10px;
    background-color: rgba(197, 194, 194, 0.54);;
}


a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);

}
a:hover, a:active {
    text-decoration: underline;
}

.left {
;
}

.right {
   float: right;
   
}

.profile {
    width: 25px;
    height:25px;
}

a.profile {
    display: inline-block;
    color: #222;
    text-decoration: none;
}

li {
    display: inline;
    margin: 15px 25px 0px -10px;
}

.center {
    display: flex;
    width: 100vh;
    height: 50vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leaf {
    width: 10px;
}

.searchcontents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
  
    margin-bottom: 25px;
    position: relative;
    left: 50px;
}

.searchbar{
    position: relative;
    left: 50px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    padding: 10px 5px 10px 15px;
    width: 550px;
    height: 25px

}

input {
   
    border: none;
    outline: none;
    margin: 50px;
    margin-top: 0px;
    padding: 0;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

 .searchicon {
    width: 20px;
    opacity: 40%;
}

button:hover, button:active {
    border: groove rgb(240, 239, 239);
    pointer-events: ;
}

button{
    position: relative;
    left: 50px;
    background-color: #ebebeb;
    border-style: none;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    margin-top: 30px; 
    margin-left: 10px;
    color: #505050;
    font-size: 14px;
}
 
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carbon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: -20px;

}

.left-foot {
    float: left;
    font-size: 14px;
}

.right-foot{
    float: right;
    font-size: 14px;

}

</style>   