<style>


/* Set the height of the page to the full
hieght of the veiwport and set the font */

body{
    font-family: 'Open sans';
    font-size: 20px;
    
}

/* Start styling the nav bar.
   Make a flex container and justify
   content within.  */

.headnav {
    font-size: 13px;
    display: flex;
    


}

/*space between will justify the lefthead 
  and righthead as they are the direct 
  children. giving equal space between both.   */

/* Create a flex containter that will
   contain the links that will sit on the
   left side of the header. Also creates a 
   child of the main flex container*/

.nav-item.push {
    margin: 0 auto;
    
}

/* And then one for the links on the right.
   Position: relative allows us to move the
   item around its relative postion. Second 
   child to main flex container.*/



/* set all the items into the same line
   and set the spacing between them with 
   marigins */
 
 
li {
    display: inline;
    flex:auto;
    border: 1px solid red
    
}


/* We can then set the size of the Profile
image */

.profile {
    width: 25px;
    height: 25px;
}

.grid{
    height: 15px;
    width: 15px;
}
/* Next we style the links.
   removinig the underline and colouring
   the text black */

.nav-item {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);

}

/*controls how the item acts when
  the mouse hovers over it. in this
  case the link will be underlined */

a:hover, a:active {
    text-decoration: underline;
}

.grid:hover {
   
    background-color: darkgrey; 
    border: 10px solid grey;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

/*Nav bar complete*/

/*Create flex container for the logo and 
  searchbar to move within*/

form{ 
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    height: 89vh;
    width: 100vw;
    
}


.logo{
  
    margin:190px auto 20px auto;
    width: 272px;
    height: 92px;

    
}

.bar {
    margin:0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid rgb(218, 218, 218);
}   

.bar:hover {
    box-shadow: 1px 1px 8px 1px; 

}


.searchbar{
    
    height:45px;
    border:none;
    width: 500px;
    font-size:16px;
    outline: none;
    margin: 0 auto;
    position: relative;
    left:15px;
}


.spyglass{
    height: 20px;
    position:relative;
    top: 5px;
    left: 10px;
}


.voice{
    height: 20px;
    position: relative;
    top: 5px;
    left: 10px;

}

 .searchicon {
    width: 20px;
    opacity: 40%;
}


.buttons{
    margin:30px auto 0px auto;
    font-size: 16px;
    border:1px solid rgb(236, 235, 235);
    border-radius: 100px;
    
}

button{
   
    border:1px solid rgb(236, 235, 235);
    border-radius: 5px;
    color:rgb(70, 70, 70);
    background-color:rgb(236, 235, 235);
    padding:9px 19px;
    
}

button:hover {
    border: 1px solid rgb(200, 200, 200);
    padding:9px 19px;
    border-radius: 5px;
    
}

.footnav1{
    font-size: 12px;
    display: flex;
    grid-template-areas: "1 2 3 4 5";
    flex-basis: 100%;
    justify-content:start;
    align-items: end;
    height: 3vh;
    background-color: rgb(236, 236, 236 );
    border-bottom: 1px solid rgb(200, 200, 200);
    min-height: 40px;

}

.footnav2 {
    font-size: 12px;
    display: flex;
    grid-template-areas: "1 2 3 4 5";
    flex-basis: 100%;
    justify-items: space-between;
    align-content: stretch;
    height: 3vh;
    background-color: rgb(236, 236, 236);
    min-height: 40px;

}
    
.carbon {
    display:flex;
    margin:5px auto;
    width:20vw;
    justify-content: center;
    

}

.leaf {
    margin:0 0 0 0;
    height: 10px;
}

.left-foot {
    display: inline-block;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    position:relative;
    width:40vw
  
}

.right-foot{
    Display:flex;
    justify-content: end;
    align-items:center;
    width:40vw;
    
    
}

footer{
    width: 100vw;
   
   
}

</style>